<footer id="footer">
    <section>
        <h2>For the app</h2>
        <p style="text-align: justify">The app 'rAdio' is a web application that provides listening to radio stations from specific countries. At the moment,
        this app provides listening to radio stations from North Macedonia, Greece and Serbia. Regarding 'rAdio', none of the content being
        streamed is in its possession. The whole content belongs to the radio stations streaming it.</p>
    </section>
    <section>
        <h2>About the author</h2>
        <ul class="icons">
            <li>
                <a target="_blank" href="https://aboykov.com/" class="fas fa-globe fa-2x"></a>
            </li>
            <li>
                <a target="_blank" href="https://mk.linkedin.com/in/a-boykov" class="icon brands fa-linkedin fa-2x"></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/alexxity_official/" class="icon brands fa-instagram fa-2x"></a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/abojkov" class="icon brands fa-github fa-2x"></a>
            </li>
        </ul>
    </section>
    <p class="copyright">&copy; alexxity, rAdio</p>
</footer>
