<div class="table-wrapper">
    <h5 class="title">List of radio stations in Greece</h5>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR1.html">
                    <img style="max-height: 100px;" src="images/radio-logos/athensdeejay.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR2.html">
                    <img style="max-height: 100px;" src="images/radio-logos/madradio.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR3.html">
                    <img style="max-height: 100px;" src="images/radio-logos/legend.gif">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR4.html">
                    <img style="max-height: 100px;" src="images/radio-logos/hitfm.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR5.html">
                    <img style="max-height: 100px;" src="images/radio-logos/nostos.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR6.html">
                    <img style="max-height: 100px;" src="images/radio-logos/dromos.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR7.html">
                    <img style="max-height: 100px;" src="images/radio-logos/laikos.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/GR8.html">
                    <img style="max-height: 100px;" src="images/radio-logos/cosmoradio.png">
                </a>
            </div>
        </div>
    </div>
</div>
