<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Листа на радио станици во Грција</th>
        </tr>
        </thead>
        <tbody>
        <tr><td><a href="components/stations/GR1.html">Athens DeeJay</a></td></tr>
        <tr><td><a href="components/stations/GR2.html">Mad Radio</a></td></tr>
        <tr><td><a href="components/stations/GR3.html">Legend FM</a></td></tr>
        <tr><td><a href="components/stations/GR4.html">HIT FM</a></td></tr>
        <tr><td><a href="components/stations/GR5.html">Nostos</a></td></tr>
        <tr><td><a href="components/stations/GR6.html">Dromos</a></td></tr>
        <tr><td><a href="components/stations/GR7.html">Laikos</a></td></tr>
        </tfoot>
    </table>
</div>
