<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Листа на радио станици во Македонија</th>
        </tr>
        </thead>
        <tbody>
        <tr><td><a href="components/stations/MK1.html">Радио Фортуна</a></td></tr>
        <tr><td><a href="components/stations/MK2.html">Радио 2</a></td></tr>
        <tr><td><a href="components/stations/MK3.html">Канал 77</a></td></tr>
        <tr><td><a href="components/stations/MK4.html">Антена 5</a></td></tr>
        <tr><td><a href="components/stations/MK5.html">Метрополис радио</a></td></tr>
        <tr><td><a href="components/stations/MK6.html">Зона М1</a></td></tr>
        <tr><td><a href="components/stations/MK7.html">Sky Radio</a></td></tr>
        <tr><td><a href="components/stations/MK8.html">Capitol</a></td></tr>
        </tfoot>
    </table>
</div>
