<div class="table-wrapper">
    <h5 class="title">List of radio stations in North Macedonia</h5>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK1.html">
                    <img style="max-height: 100px;" src="images/radio-logos/fortunafm.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK2.html">
                    <img style="max-height: 100px;" src="images/radio-logos/radio2mk.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK3.html">
                    <img style="max-height: 100px;" src="images/radio-logos/kanal77.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK4.html">
                    <img style="max-height: 100px;" src="images/radio-logos/antenna5mk.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK5.html">
                    <img style="max-height: 100px;" src="images/radio-logos/metropolisradio.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK6.html">
                    <img style="max-height: 100px;" src="images/radio-logos/zonam1.png">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK7.html">
                    <img style="max-height: 100px;" src="images/radio-logos/skyradio.jpeg">
                </a>
            </div>
            <div class="col-sm-3 align-center">
                <a href="components/stations/MK8.html">
                    <img style="max-height: 100px;" src="images/radio-logos/capitolfm.jpeg">
                </a>
            </div>
        </div>
    </div>
</div>
