<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Листа на радио станици во Србија</th>
        </tr>
        </thead>
        <tbody>
        <tr><td><a href="components/stations/RS1.html">Naxi Dance</a></td></tr>
        <tr><td><a href="components/stations/RS2.html">Naxi Café</a></td></tr>
        <tr><td><a href="components/stations/RS3.html">Naxi Latino</a></td></tr>
        <tr><td><a href="components/stations/RS4.html">Naxi Fresh</a></td></tr>
        <tr><td><a href="components/stations/RS5.html">Naxi Love</a></td></tr>
        </tfoot>
    </table>
</div>
