<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Naxi Latino - rAdio</title>
    <link rel="icon" href="https://aboykov.com/assets/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../../assets/css/noscript.css" /></noscript>
    <script rel="stylesheet" src="../../assets/js/jquery.min.js"></script>
    <script rel="script" src="../../assets/js/myScript.js"></script>
    <script>
        $(document).ready(function() {
            $("#headerIns").load("../headerC.html");
            $("#footerIns").load("../footerC.html");
        });
    </script>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header" style="padding: 20px;" class="alt">
            <a href="../../index.html" style="text-decoration: none"><span class="logo"><img src="../../images/logoFull.png" style="display: inline-block;" alt="" /></span></a>
        </header>

        <div id="main">
            <section id="content" class="main">
                <section style="text-align: center">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <h4>You are listening to <b>Naxi latino</b></h4>
                            <img src="../../images/radio-logos/naxilatino.png"/>
                            <br/>
                            <br/>
                            <audio id="streaming" controls="controls" autoplay="autoplay">
                                <source src="https://naxidigital-latino128.streaming.rs:8232/;"/>
                                Your browser does not support the audio element.
                            </audio>
                            <br/>
                            <span style="font-size: 12px;">*To go to the homepage, click the logo at the top, or click <b><a href="../../index.html">here</a></b></span>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <footer id="footerIns"></footer>
    </div>

    <div id="scripts">
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/jquery.scrollex.min.js"></script>
        <script src="../../assets/js/jquery.scrolly.min.js"></script>
        <script src="../../assets/js/browser.min.js"></script>
        <script src="../../assets/js/breakpoints.min.js"></script>
        <script src="../../assets/js/util.js"></script>
        <script src="../../assets/js/main.js"></script>
    </div>
</body>
</html>
